{% load static %}
{% load sidebar_links %}

{% get_links as links %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 fixed-top">
  <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center gap-2"></a>
<span class="fs-4" style="color: rgb(36, 209, 74);">AutoRent express</span>
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      {% for link in links %}
        <li class="nav-item">
          <a href="{{ link.href }}" class="nav-link {% if request.path == link.href %}active{% endif %}">
            <i class="fa-solid {{ link.icon }}"></i>&nbsp;<span>{{ link.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="dropdown ms-3">
      {% if user.is_authenticated %}
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" 
           data-bs-toggle="dropdown" aria-expanded="false">
          
          {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="Avatar użytkownika" width="32" height="32" class="rounded-circle me-2" style="object-fit: cover;">
          {% else %}
            <img src="{% static 'default_avatar.png' %}" alt="" width="32" height="32" class="rounded-circle me-2">
          {% endif %}
          
          <strong>{{ user.username }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="{% url 'profile' %}">Profil</a></li>
          <li><a class="dropdown-item" href="{% url 'profile_edit' %}">Ustawienia</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'logout_user' %}">Wyloguj się</a></li>
        </ul>
      {% else %}
        <a class="btn btn-outline-light me-2" href="{% url 'login_user' %}">Zaloguj się</a>
        <a class="btn btn-light text-dark" href="{% url 'register' %}">Zarejestruj</a>
      {% endif %}
    </div>
  </div>
</nav>

<style>
  body {
    padding-top: 90px;
  }
</style>
