{% extends 'main/layout/layout.html' %}

{% block title %}Usuń artykuł: {{ articles.title }}{% endblock %}

{% block content %}
    <h1>Usuń artykuł: {{ articles.title }}</h1>
    <div>
        <form method="post" class="form d-flex flex-column gap-2">
            {% csrf_token %}
            <div class="alert alert-danger text-center">
                Usunięcie jest stałe. Czy na pewno chcesz usunąć: <strong>{{ articles.title }}</strong>?
            </div>

            <div class="d-flex gap-2 justify-content-center">
                <a href="/news/{{ articles.id }}" class="btn btn-info">Nie</a>
                <button class="btn btn-danger" type="submit">Tak, usuń!</button>
            </div>
        </form>
    </div>
{% endblock %}