{% extends 'main/layout/layout.html' %}

{% block title%}Webpage news{% endblock %}

{% block content%}
    <h1>News</h1>
    <div class="d-flex flex-column gap-4">
    {% if news %}

        {% for article in news %}

            <div>
            <h3><a href="/news/{{ article.id }}">{{ article.title }}</a></h3>
            <p>{{ article.excerpt }}</p>
            </div>

        {% endfor %}

    {% else %}

        <p>No news for now. Come back later!</p>

    {% endif %}
    </div>
{% endblock %}