{% extends 'main/layout/layout.html' %}

{% block title%}Webpage news{% endblock %}

{% block content%}
    <h1>Aktualności</h1>

    {% if user.is_staff %}
        <a href="{% url 'news_create' %}" class="btn btn-primary mb-3">+ Dodaj aktualność</a>
    {% endif %}

    <div class="d-flex flex-column gap-4">
        {% if news %}
            {% for article in news %}
                <div>
                    <h3 class="article-title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                    <p>{{ article.excerpt }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Nie ma nowości, przyjdź później!</p>
        {% endif %}
    </div>
{% endblock %}
