{% extends 'main/layout/layout.html' %}

{% block title%}Add news{% endblock %}

{% block content%}
<br>
   <h1>Witamy w zakładce kontakt</h1>
   <br>
   <p>Masz pytania? Jesteśmy do Twojej dyspozycji!
    Skontaktuj się z nami w sprawie rezerwacji, dostępności pojazdów lub innych usług. Nasz zespół obsługi klienta odpowie na Twoją wiadomość tak szybko, jak to możliwe.</p>
    <p>📧 E-mail: autorent@express.pl</p>
    <p>☎️ Telefon: +48 123 456 789</p>

<p>Dziękujemy za zaufanie i zapraszamy do kontaktu!</p>


{% endblock %}